<a href="#" class="sidebararticleitem">Contact us</a>
<a href="#four-futures" class="sidebararticleitem">Four Futures</a>
<a href="#backcasting" class="sidebararticleitem">Backcasting</a>
<a href="#object-from-the-future" class="sidebararticleitem">Object from the Future</a>
<br>
<br>
<!-- <a onclick="linkclick(event,this)" href="anarchists-on-sf.html" class="sidebararticleitemtitle">Galacticat</a>
<a onclick="linkclick(event,this)" href="recommended.html" class="sidebararticleitemtitle">The Future of the Nation State / Empathy</a>
<a href="worksforconsideration.html" class="sidebararticleitemtitle">The Future of Gender / Solitude</a>
<a href="bibliography.html" class="sidebararticleitemtitle">Carpe Diem</a> -->
